* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif; /* You can choose any font-family you prefer */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem; /* Some padding for breathing room */
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.title {
  text-align: center; /* Horizontally centers the text */

  /* For vertical centering (if needed) */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Spacing between child elements */
  margin-bottom: 1.5rem;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  font-size: 1rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #FD9A00; /* You can choose any color you prefer */
  color: black;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #FD9A00; /* Slightly darker shade for hover */
  }
}

.output-container {
  display: flex;
  flex-direction: column; /* default to mobile view: image on top, text below */
  align-items: center;
  gap: 1rem; /* Spacing between child elements */
  margin-top: 2rem;
  width: 100%;
}

.output-container img {
  max-width: 90%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.output-container > div {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  max-width: 90%;
  text-align: center; /* Center the text inside the bordered area */
}

p {
  font-size: 1.2rem; /* Increasing the font size as per your request */
  color: #333;
}

/* Desktop view */
@media screen and (min-width: 768px) {
  .output-container {
    flex-direction: row; /* image and text side by side */
    justify-content: center;
  }

  .output-container img,
  .output-container > div {
    max-width: 45%; /* allocating space for both elements side by side */
  }
}

/* Loading animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile View (default) */
.loading-circle {
  border: 16px solid #f4f6f8; /* Default to a smaller size for mobile */
  border-top: 16px solid #FD9A00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Horizontal centering */
  display: block; /* Display as block for margin to work */
}

/* Desktop view */
@media screen and (min-width: 768px) {
  .loading-circle {
    border: 120px solid #f4f6f8; /* Retain the large size for desktops */
    border-top: 120px solid #FD9A00;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Horizontal centering */
    display: block; /* Display as block for margin to work */
  }
}
